
#contato ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

#contato ul li {
    display: flex;
    list-style-type: none;
    margin-left: 25px;
}

#contato ul li:first-child {
    margin-left: 0;
}

#contato ul li a {
    text-decoration: none;
}

#contato ul li img {
    max-height: 20px;
}
