<footer id="rodape" class="page-footer font-small text-center mt-1 pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-4 d-flex justify content-center border-r">
                <div class="row">
                    <div class="col-9 fonte-teste">
                        <h1>Entre em Contato</h1>
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-center">
                                <ul class="social-network">
                                    <li>
                                        <a href="https://www.facebook.com/" target="_blank" class="icoFacebook"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/" target="_blank" class="icoInstagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/" target="_blank" class="icoLinkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class=" col-md-8 fonte-teste d-flex justify content-center border-r" >
                <span class="align-middle"><h2>
                    A equipe da FiveSoftware
                    agradece a sua visita!
                    Siga-nos nas redes sociais.
                </h2></span>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">Todos os direitos reservados a FiveSoftware ©</p>
            </div>
        </div>
    </div>



</footer>
