ul.social-network{
    list-style: none;
    padding: 0;
}
ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
}

.fa{
    font-size: 35pt;
    color:white;
    padding: 10px;
}

.fa-facebook-official:hover{
    color:#3b5998;
}

.fa-instagram:hover{
    color:#c13584;
}

.fa-linkedin-square:hover{
    color:#0072b1;
}
.border-r {
    border-right: 1px solid #dee2e6 !important;
  }

  #rodape{
    background: linear-gradient(to top, rgba(9, 228, 118, 0.376), rgba(4, 50, 255, 0.397));
  }
  *{
      padding: 0;
  }