<footer class="page-footer font-small text-center bg-secondary pt-4">

    <div class="container">




        <div class="row">
            <div class="col-md-4 d-flex justify content-center border-right-light">

                <h1>Entre em Contato</h1>

            </div>
            <div class=" col-md-8">
                <h2>A equipe da FiveSoftware
                    agradece a sua visita!
                    Siga-nos nas redes sociais.</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">Todos os direitos reservados a FiveSoftware ©</p>
            </div>
        </div>
    </div>
    
    

</footer>