<div class="border molde ml-5 mr-5" style="border-radius: 50px 50px 0px 0px; margin-top: 100px; ">
    <div class="container-fluid">
        <div class="row mb-5">
            <div class="col-md-12">
                <h1 class="text-center form-font">Consultar Rerservas</h1>
            </div>
        </div>

        <!-- pesquisa -->
        <div class="row d-flex align-items-end justify-content-left mb-2">

            <div class="col-md-3">
                <div class="form-group mb-0">
                    <input [(ngModel)]="usuario" type="text" class="form-control campos" id="nomeUsuario"
                        placeholder="Nome do usuário">
                </div>
            </div>

            <div class="col-md-2">
                <div>
                    <button type="submit" class="btn btn-success form-font" (click)="pesquisa()">Pesquisar</button>
                </div>
            </div>

        </div>
        <!-- /pesquisa -->
    </div>
</div>

<!-- listaRemedios  -->
<div class="border molde ml-5 mr-5 mb-3" style="overflow:auto; height: 500px; border-radius: 0px 0px 0px 50px ;">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-6">
                <h3 class="text-center form-font">Usuários</h3>
                <table class="table table-hover">
                    <thead>
                        <tr class="roboto-font">
                            <th scope="col">#</th>
                            <th scope="col">Nome</th>
                            <th scope="col">E-mail</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let itens of listaReservas'>
                            <th class= "roboto-font" scope="row">{{itens.id}}</th>
                            <td class= "roboto-font">{{itens.usuarioCad.nomeCompleto}}</td>
                            <td class= "roboto-font">{{itens.usuarioCad.email}}</td>
                            <td class="form-font">
                                <button (click)='selecionaUsuario(itens.id)' class="btn btn-info">Pedidos</button>
                            </td>
                            <td class="form-font">
                                <button class="btn btn-danger">Apagar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-6">
                <h3 class="text-center form-font">Pedidos</h3>
                <table class="table table-hover">
                    <thead>
                        <tr class= "roboto-font">
                            <th scope="col">Usuário</th>
                            <th scope="col">Medicamento</th>
                            <th scope="col">Posto</th>
                            <th scope="col">Endereço</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let itens of listaPedidos'>
                            <th class= "roboto-font" scope="row">{{usuario}}</th>
                            <td class= "roboto-font">{{itens.nome}}</td>
                            <td class= "roboto-font">{{itens.posto}}</td>
                            <td class= "roboto-font">{{itens.endereco}}</td>
                            <td>
                                <button (click)="finalizar(itens.id)" class="btn btn-success form-font">Finalizar</button>
                            </td>
                            <td>
                                <button (click)="delete(itens.id)" class="btn btn-danger form-font">Apagar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /listaRemedios  -->
