<div class="container">
  <div class="row d-flex justify-content-center height-100">
    <div class="col-md-8 molde">
      <h1 class="text-center form-font">Apagar Remédio</h1>

      <div class="row d-flex justify-content-center">
        <div class="col-md-8">
          <h5 class="text-center roboto-font mt-3">Você tem certeza que deseja apagar esse remédio?</h5>

          <div class="row d-flex justify-content-center">
            <div class="col-md-12">
              <div class="card border-dark mt-1" style="background-color: transparent;">
                <div class="card-body roboto-font">
                  <h5 class="card-title text-center m-0">{{produto.nome}}</h5>
                  <p class="text-center"><small class="text-muted text-center">Categoria:
                      {{produto.categoria.tipo}}</small></p>
                  <p class="card-text mt-3 mb-0"><strong>Quant. em estoque:</strong> {{produto.estoque}}</p>
                  <p class="card-text m-0"><strong>Classificação:</strong> {{produto.classificacao}}</p>
                  <p class="card-text mb-0"><strong>Posto:</strong> {{produto.posto}}</p>
                  <p class="card-text mb-0"><strong>Município/Cidade:</strong> {{produto.municipioCidade}}</p>
                  <p class="card-text mb-0"><strong>Zona:</strong> {{produto.zona}}</p>
                  <p class="card-text mb-0"><strong>Endereço:</strong> {{produto.endereco}}</p>
                  <p class="card-text mb-0"><strong>Ativo:</strong> {{produto.ativo}}</p>

                </div>
              </div>

              <div class="d-flex justify-content-center form-font mt-4">
                <button class="btn btn-danger mr-4" routerLink='/consultar-produto'>Não</button>
                <button class="btn btn-success" (click)="apagar()">Sim</button>
              </div>


            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
