<div id="principal" class="molde mb-5" style="border-radius: 50px 50px 50px 50px; margin-top: 100px; ">
    <div class="container">
        <div class="row mb-2">
            <div class="col-md-12">
                <h1 class="text-center form-font">Consulta de Remédios</h1>
            </div>
        </div>

        <!-- pesquisa -->
        <div id="pesquisa" class="row d-flex align-items-end justify-content-left">

            <div class="col-lg-3">
                <div class="form-group mb-0 roboto-font">
                    <label for="descricao"></label>
                    <input [(ngModel)]="produto.nome" type="text" class="form-control campos" id="descricao"
                        placeholder="Medicamento">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group mb-0 roboto-font">
                    <label for="posto"></label>
                    <input [(ngModel)]="produto.posto" type="text" class="form-control campos" id="posto"
                        placeholder="Posto">
                </div>
            </div>

            <div class="col-lg-2">
                <div class="form-group mb-0 roboto-font">
                    <label for="municipioCidade"></label>
                    <input [(ngModel)]="produto.municipioCidade" type="text" class="form-control campos"
                        id="municipioCidade" placeholder="Município/Cidade">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group mb-0 roboto-font">
                    <label for="zona"></label>
                    <select [(ngModel)]="produto.zona" name="zona" id="zona" class="form-control campos">
                        <option value="">Zona</option>
                        <option value="Centro">Centro</option>
                        <option value="Leste">Leste</option>
                        <option value="Norte">Norte</option>
                        <option value="Oeste">Oeste</option>
                        <option value="Sul">Sul</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-2 mt-3 text-center">
                <div>
                    <button type="submit" class="btn btn-success form-font" (click)="pesquisa()">Consultar</button>
                </div>
            </div>

        </div>

        <div class="row text-center mt-5">
            <div class="col-md-12">

                <p class="text-center roboto-font">
                    Deseja cadastrar um novo medicamento? <a routerLink='/cadastrar-produto'>Cadastre aqui</a>
                </p>
            </div>
        </div>
         <!-- /pesquisa -->

        <!-- listaRemedios  -->
    <div class="container-fluid" id="listaRemedios">
        <div class="table-responsive" style="overflow: auto; height: 500px; ">
            <table class="table table-hover roboto-font mt-4">
                <thead>
                    <tr>
                        <th class={{objDescricao}} scope="col"><div class="d-flex justify-content-center align-items-center">Descrição <input class="ml-2" type="checkbox" (change)='desabilitar(1);' [(ngModel)]='chDescricao' checked></div></th>
                        <th class={{objEstoque}} scope="col"><div class="d-flex justify-content-center align-items-center">Estoque <input class="ml-2" type="checkbox" (change)='desabilitar(2);'  [(ngModel)]='chEstoque' checked></div></th>
                        <th class={{objClassificacao}} scope="col"><div class="d-flex justify-content-center align-items-center"> Classificação<input class="ml-2" type="checkbox" (change)='desabilitar(3);'  [(ngModel)]='chClassificacao' checked></div></th>
                        <th class={{objCategoria}} scope="col"><div class="d-flex justify-content-center align-items-center">Categoria <input class="ml-2" type="checkbox" (change)='desabilitar(4);' [(ngModel)]='chCategoria' checked></div></th>
                        <th class={{objPosto}} scope="col"><div class="d-flex justify-content-center align-items-center">Posto <input class="ml-2" type="checkbox" (change)='desabilitar(5);' [(ngModel)]='chPosto' checked></div></th>
                        <th class={{objEndereco}} scope="col"><div class="d-flex justify-content-center align-items-center">Endereço <input class="ml-2" type="checkbox" (change)='desabilitar(6);'  [(ngModel)]='chEndereco' checked></div></th>
                        <th class={{objMunicipio}} scope="col"><div class="d-flex justify-content-center align-items-center">Município <input class="ml-2" type="checkbox" (change)='desabilitar(7);'  [(ngModel)]='chMunicipio' checked></div></th>
                        <th class={{objZona}} scope="col"><div class="d-flex justify-content-center align-items-center">Zona <input class="ml-2" type="checkbox" (change)='desabilitar(8);'  [(ngModel)]='chZona' checked></div></th>
                        <th class={{objAtivo}} scope="col"><div class="d-flex justify-content-center align-items-center">Ativo <input class="ml-2" type="checkbox" (change)='desabilitar(9);'  [(ngModel)]='chAtivo' checked></div></th>
                        <th scope="col"><div class="d-flex justify-content-center align-items-center">All <input class="ml-2" type="checkbox" (change)='habilitar();'  [(ngModel)]='chAll' checked></div></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let itens of listaProdutos | orderBy : key : reverse'>
                        <td class={{objDescricao}}>{{itens.nome}}</td>
                        <td class={{objEstoque}}>{{itens.estoque}}</td>
                        <td class={{objClassificacao}}>{{itens.classificacao}}</td>
                        <td class={{objCategoria}}>{{itens.categoria.tipo}}</td>
                        <td class={{objPosto}}>{{itens.posto}}</td>
                        <td class={{objEndereco}}>{{itens.endereco}}</td>
                        <td class={{objMunicipio}}>{{itens.municipioCidade}}</td>
                        <td class={{objZona}}>{{itens.zona}}</td>
                        <td class={{objAtivo}} id='objAtivo'>{{itens.ativo}}</td>
                        <td>
                            <button class="btn btn-info form-font"
                                [routerLink]="['/produto-edit',itens.id]">Editar</button>
                        </td>
                        <td>
                            <button class="btn btn-danger form-font"
                                [routerLink]="['/produto-delete',itens.id]">Deletar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- /listaRemedios  -->
    </div>
   

    
</div>