<div id="principal" class="molde ml-5 mr-5 mb-5" style="border-radius: 50px 50px 50px 50px; margin-top: 100px; ">
    <div class="container">
        <div class="row mb-2">
            <div class="col-md-12">
                <h1 class="text-center form-font">Consulta de Remédios</h1>
            </div>
        </div>

        <!-- pesquisa -->
        <div id="pesquisa" class="row d-flex align-items-end justify-content-left">

            <div class="col-lg-3">
                <div class="form-group mb-0 roboto-font">
                    <label for="descricao"></label>
                    <input [(ngModel)]="produto.nome" type="text" class="form-control campos" id="descricao"
                        placeholder="Medicamento">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group mb-0 roboto-font">
                    <label for="posto"></label>
                    <input [(ngModel)]="produto.posto" type="text" class="form-control campos" id="posto"
                        placeholder="Posto">
                </div>
            </div>

            <div class="col-lg-2">
                <div class="form-group mb-0 roboto-font">
                    <label for="municipioCidade"></label>
                    <input [(ngModel)]="produto.municipioCidade" type="text" class="form-control campos"
                        id="municipioCidade" placeholder="Município/Cidade">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group mb-0 roboto-font">
                    <label for="zona"></label>
                    <select [(ngModel)]="produto.zona" name="zona" id="zona" class="form-control campos">
                        <option value="">Zona</option>
                        <option value="Centro">Centro</option>
                        <option value="Leste">Leste</option>
                        <option value="Norte">Norte</option>
                        <option value="Oeste">Oeste</option>
                        <option value="Sul">Sul</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-2 mt-3 text-center">
                <div>
                    <button type="submit" class="btn btn-success form-font" (click)="pesquisa()">Consultar</button>
                </div>
            </div>

        </div>

        <div class="row text-center mt-5">
            <div class="col-md-12">

                <p class="text-center roboto-font">
                    Deseja cadastrar um novo medicamento? <a routerLink='/cadastrar-produto'>Cadastre aqui</a>
                </p>
            </div>
        </div>
        <!-- /pesquisa -->

        <!-- listaRemedios  -->
        <div class="container-fluid" id="listaRemedios">
            <div class="table-responsive" style="overflow: auto; height: 500px; ">
                <table class="table table-hover roboto-font mt-4">
                    <thead>
                        <tr>
                            <th scope="col">Descrição</th>
                            <th scope="col">Estoque</th>
                            <th scope="col">Classificação</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Posto</th>
                            <th scope="col">Endereço</th>
                            <th scope="col">Município</th>
                            <th scope="col">Zona</th>
                            <th scope="col">Ativo</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let itens of listaProdutos | orderBy : key : reverse'>
                            <td class="d-inline-block text-truncate">{{itens.nome}}</td>
                            <td>{{itens.estoque}}</td>
                            <td>{{itens.classificacao}}</td>
                            <td>{{itens.categoria.tipo}}</td>
                            <td>{{itens.posto}}</td>
                            <td class="d-inline-block text-truncate">{{itens.endereco}}</td>
                            <td>{{itens.municipioCidade}}</td>
                            <td>{{itens.zona}}</td>
                            <td>{{itens.ativo}}</td>
                            <td>
                                <button class="btn btn-info form-font"
                                    [routerLink]="['/produto-edit',itens.id]">Editar</button>
                            </td>
                            <td>
                                <button class="btn btn-danger form-font"
                                    [routerLink]="['/produto-delete',itens.id]">Deletar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /listaRemedios  -->
    </div>
</div>