  <div class="container-fluid">
    <form>
      <div class="row">

        <div class="col-md-6 m-auto">

          <div class="row molde height-100 justify-content-center">

            <span><img id='logo' src="https://imgur.com/mKM8ufz.jpg" alt="logo Remedion"></span>
            <span>
              <h1 class="titulo">Cadastro de remédios</h1>
            </span>
            <div class="col-md-6 border-r text-left">

              <div class="form-group">
                <label for="categoria">Categoria</label>
                <input class="form-control campos" type="text" name="categoria" id="categoria">
              </div>

              <div class="form-group">
                <label for="descricao">Descrição</label>
                <input class="form-control campos" type="text" name="descricao" id="descricao">
              </div>

              <div class="form-group">
                <label for="estoque">Estoque</label>
                <input class="form-control campos" type="text" name="estoque" id="estoque">
              </div>

              <div class="form-group">
                <label for="classificacao">Classificação</label>
                <input class="form-control campos" type="text" name="classificacao" id="classificacao">
              </div>
              
            </div>

            <div class="col-md-6 text-left">

              <div class="form-group">
                <label for="posto">Posto</label>
                <input class="form-control campos" type="text" name="posto" id="posto">
              </div>

              <div class="form-group">
                <label for="cidade">Municipio/Cidade</label>
                <input class="form-control campos" type="text" name="cidade" id="cidade">
              </div>

              <div class="form-group">
                <label for="zona">Zona</label>
                <input class="form-control campos" type="text" name="zona" id="zona">
              </div>

              <div class="form-group">
                <label for="endereco">Endereço</label>
                <input class="form-control campos" type="text" name="endereco" id="endereco">
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="texto">Escolha uma categoria ou <a routerLink="/categoria" >cadastre uma nova</a> </label>
                  <select name="tema" id="tema" class="form-control">
                    <option value="">Temas</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-danger mt-3 mr-2" >CANCELAR</button>
                <button type="submit" class="btn btn-success mt-3">Cadastrar</button>
              </div>
            </div>
            

          </div>

        </div>

      </div>

    </form>
  </div>

