<div class="container">

    <form>
  
      <div class="row d-flex justify-content-center align-items-center">
  
        <div class="col-md-6 molde height-100">
  
          <div>
            <img class="img-fluid mt-2" src="https://i.imgur.com/mKM8ufz.jpg" alt="">
          </div>
          <h1 class="mb-4 text-center form-font">Atualização de usuário</h1>
  
            <div class="form-group">
              <label for="categoria">Nome: </label>
              <input [(ngModel)]='user.nomeCompleto' class="form-control campos" type="text" name="categoria" id="categoria"
                placeholder="Escreva seu nome completo">
            </div>
  
            <div class="form-group">
              <label for="descricao">Email: </label>
              <input [(ngModel)]='user.email' class="form-control campos" type="text" name="descricao" id="descricao"
                placeholder="Digite seu email">
            </div>
  
            <div class="form-group">
              <label for="foto">Foto </label>
              <input [(ngModel)]='user.foto' class="form-control campos" type="text" name="foto" id="foto"
                placeholder="Link da sua foto">
            </div>
  
            <div class="form-group">
              <label for="senha">Senha: </label>
              <input (input)='confirmarSenha($event)' class="form-control campos" type="password" name="senha" id="senha" placeholder="Digite sua senha">
            </div>
  
            <div class="form-group">
              <label for="confirmSenha">Confirmar Senha: </label>
              <input [(ngModel)]='user.senha' class="form-control campos" type="password" name="confirmSenha" id="confirmSenha"
                placeholder="Digite novamente sua senha">
            </div>
  
            <div class="form-group">
              <label for="tipoUsuario">Usuário</label>
              <select class="form-control campos" name="tipoUsuario" id="tipoUsuario" (change)='tipoUsuario($event)'>
                <option>Selecione um tipo de usuário</option>
                <option value="normal">Normal</option>
                <option value="adm">Administrador</option>
              </select>
  
            </div>
  
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-danger mt-3 mr-2" routerLink='/consulta-produto'>Cancelar</button>
            <button type="submit" class="btn btn-success mt-3" (click)= 'atualizarUser()'>Atualizar</button>
          </div>
  
        </div>
      </div>
  
    </form>
  </div>