<div class="container">

    <form>

      <div class="row d-flex justify-content-center align-items-center">

        <div class="col-md-6 molde height-100">

          <div class="text-center">
            <img class="mt-2" src="https://i.imgur.com/mKM8ufz.jpg" alt="Logo do RemediOn" id="logo">
          </div>
          <h2 class="my-3 text-center form-font">Atualização de Usuário</h2>

            <div class="form-group roboto-font">
              <label id='labelNomeCompleto' class="ml-3 mb-0" for="categoria">Nome </label>
              <input [(ngModel)]='user.nomeCompleto' (keyup)='validaNomeCompleto()' class="form-control campos" type="text" name="nomeCompleto" id="nomeCompleto"
                placeholder="Digite seu nome">
                <div id="divNomeCompleto"></div>
            </div>

            <div class="form-group roboto-font">
              <label id='labelEmail' class="ml-3 mb-0" for="descricao">E-mail </label>
              <input [(ngModel)]='user.email' (keyup)='validaEmail()' class="form-control campos" type="text" name="email" id="email"
                placeholder="Digite seu e-mail">
                <div id="divEmail"></div>
            </div>

            <div class="form-group roboto-font">
              <label class='ml-3 mb-0' for="foto">Foto </label><!-- Botão para acionar modal -->
                  <i id="btnFoto" class="fa fa-user-circle ml-2" data-toggle="modal" data-target="#ExemploModalCentralizado" aria-hidden="true"></i>
              <input [(ngModel)]='user.foto' value class="form-control campos" type="text" name="foto" id="foto"
                placeholder="Link da sua foto">
            </div>

            <div class="form-group roboto-font">
              <label id='labelSenha' class="ml-3 mb-0" for="senha">Senha </label>
              <input (input)='confirmarSenha($event)' (keyup)='validaSenha()' class="form-control campos" type="password" name="senha" id="senha" placeholder="Digite sua senha">
              <div id="divSenha"></div>
            </div>

            <div class="form-group roboto-font">
              <label id='labelConfirmSenha' class="ml-3 mb-0" for="confirmSenha">Confirmar Senha </label>
              <input [(ngModel)]='user.senha' (keyup)='validaConfirmarSenha()' class="form-control campos" type="password" name="confirmSenha" id="confirmSenha"
                placeholder="Digite novamente sua senha">
                <div id="divConfirmSenha"></div>
            </div>

            <div *ngIf='authService.adm()' class="form-group roboto-font">
              <label class="ml-3 mb-0" for="tipoUsuario">Usuário</label>
              <select class="form-control campos" name="tipoUsuario" id="tipoUsuario" (change)='tipoUsuario($event)'>
                <option>Selecione um tipo de usuário</option>
                <option value="normal">Normal</option>
                <option value="adm">Administrador</option>
              </select>

            </div>

          <div class="d-flex justify-content-center form-font">
            <button type="submit" class="btn btn-danger mt-3 mr-2" (click)='cancelar()'>Cancelar</button>
            <button type="submit" class="btn btn-success mt-3" (click)= 'atualizarUser()'>Atualizar</button>
          </div>

        </div>
      </div>

    </form>
  </div>
 <!-- Modal -->
 <div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog"
 aria-labelledby="TituloModalCentralizado" aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" id="TituloModalCentralizado">Foto</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body d-flex align-items-center">
       <img src="{{objFoto.value}}" alt="Imagem do user" width="60px" height="60px" class="rounded-circle ml-3">
       <p class="ml-3 mt-3 h3"> Sua foto de Perfil</p>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
     </div>
   </div>
 </div>
 </div>