<div id='header'>
    <nav class="navbar navbar-expand-lg navbar-light fundo d-flex align-items-center">

        <a class="navbar-brand" routerLink="/pesquisa">
            <img src="https://imgur.com/mKM8ufz.jpg" width="200" class="img-fluid" />
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li>
                    <a class="mt-1 d-flex align-items-center" id="default">
                        <img src="{{foto}}" alt="Imagem do user" width="45px" height="45px" class="rounded-circle">
                        <p class="ml-3 mt-3"> {{nome}}</p>
                    </a>
                </li>
                <li class="mt-3 d-flex align-items-center">
                    <a [routerLink]="['/user-edit', id]">
                        <p class="cor fs-16 ">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                        </p>

                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li *ngIf="authService.adm()" class="nav-item">
                    <a class="nav-link active" routerLink='/pesquisa'>Pesquisa</a>
                </li>
                <li *ngIf="authService.adm()" class="nav-item">
                    <a class="nav-link" routerLink='/consultar-produto'>Área do Adm</a>
                </li>
                <li *ngIf="authService.adm()" class="nav-item">
                    <a class="nav-link" routerLink='/cadastrar-produto'>Cadastrar Produto</a>
                </li>
                <li *ngIf="authService.adm()" class="nav-item">
                    <a class="nav-link active" routerLink='/reservas'>Reservas</a>
                </li>
                <li class="nav-item">
                    <a (click)=sair() class="nav-link" routerLink='/inicio'> Sair <i class="fa fa-sign-out"
                            aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</div>