<nav class="navbar navbar-expand-lg navbar-light cor-menu d-flex fixed-top scroll-min p-0">
    <a class="navbar-brand ml-2" href="#">
        <img src="https://imgur.com/mKM8ufz.jpg" alt="Imagem do user" width="200" class="img-fluid w-0 p-0">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto d-flex align-items-center">
            <li class="nav-item pl-3">
                <a href="">
                    <p class="text-white fs-16 m-0">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </p>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto d-flex align-items-center">
            <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle d-flex align-items-center p-1" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <p class="m-0 font-weight-bold text-dark fs-16"> David Santos</p>
                    <img src="https://imgur.com/Kum0F0G.jpg" alt="Imagem do user" width="50px" height="50px"
                        class="img-fluid rounded-circle  ml-2">
                </a>
                <div class="dropdown-menu dropdown-menu-right m-0 text-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item font-weight-bold" href="#">Perfil</a>
                    <a class="dropdown-item font-weight-bold" routerLink='/cadastrar-produto'>Cadastrar Produto</a>
                    <a class="dropdown-item font-weight-bold" href="#">Carrinho</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item font-weight-bold" href="#"> Sair <i class="fa fa-sign-out"
                            aria-hidden="true"></i></a>
                </div>
            </li>
        </ul>
    </div>
</nav>
