

<div class="container-fluid height-100">
  <div class="row d-flex align-items-end mb-5 border border-dark pb-3">
    <div class="col-md-3">
      <div class="form-group mb-0">
        <label for="medicamento">MEDICAMENTO:</label>
        <input type="text" class="form-control campos" id="medicamento" [(ngModel)]='request.query'>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group mb-0">
        <label for="zona">ZONA</label>
        <select name="zona" id="zona" class="form-control campos">
          <option value="CENTRO">CENTRO</option>
          <option value="CENTRO-SUL">CENTRO-SUL</option>
          <option value="LESTE">LESTE</option>
          <option value="NORDESTE">NORDESTE</option>
          <option value="NOROESTE">NOROESTE</option>
          <option value="NORTE">NORTE</option>
          <option value="OESTE">OESTE</option>
          <option value="SUDESTE">SUDESTE</option>
          <option value="SUL">SUL</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div>
        <button type="submit" class="btn btn-success campos">PESQUISAR</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div *ngFor='let itens of listaProdutos' class="border bg-light p-2 mb-2">
        <h3 (click)="pesquisa(itens.endereco)">{{itens.posto}}</h3>
        <p class="mb-0">Endereço: {{itens.endereco}}</p>
        <input type="hidden" name="endereco" id="endereco" [(ngModel)]='produto.endereco' value={{itens.endereco}}>
      </div>
    </div>

    <div class="col-md-6">
      <div id="map"></div>
    </div>

  </div>
</div>



