<div class="container-fluid height-100">
  <div class="row d-flex align-items-end mb-2 border border-dark pb-3">
    <div class="col-md-3">
      <div class="form-group mb-0">
        <label for="descricao"></label>
        <input [(ngModel)]="produto.nome" type="text" class="form-control campos roboto-font" id="descricao"
          placeholder="Medicamento">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group mb-0">
        <label for="posto"></label>
        <input [(ngModel)]="produto.posto" type="text" class="form-control campos roboto-font" id="posto"
          placeholder="Posto">
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group mb-0">
        <label for="municipioCidade"></label>
        <input [(ngModel)]="produto.municipioCidade" type="text" class="form-control campos roboto-font"
          id="municipioCidade" placeholder="Município/Cidade">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group mb-0 roboto-font">
        <label for="zona"></label>
        <select [(ngModel)]="produto.zona" name="zona" id="zona" class="form-control campos">
          <option value="">Selecione uma zona..</option>
          <option value="Centro">Centro</option>
          <option value="Leste">Leste</option>
          <option value="Norte">Norte</option>
          <option value="Oeste">Oeste</option>
          <option value="Sul">Sul</option>
        </select>
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group mt-4 mb-0 roboto-font">
        <div>
          <button type="submit" class="btn btn-success form-font" (click)="pesquisa()">Pesquisar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div style="overflow: auto; height: 500px">
        <div *ngFor='let itens of listaProdutos' class="border carrinho bg-light p-2 mb-2">
          <h3 class="form-font ponteiro" (click)="mapa(itens.endereco)">{{itens.posto}}</h3>
          <p class="mb-0 roboto-font">Medicamento: {{itens.nome}}</p>
          <p class="mb-0 roboto-font">Endereço: {{itens.endereco}}</p>
          <button (click)='listaReserva(itens)' class="btn btn-success form-font">Reservar</button>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div id="map"></div>
    </div>

  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="carrinho" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title form-font" id="TituloModalCentralizado">Lista de Reservas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div style="overflow: auto; height: 500px">
          <h2 *ngIf=carrinhoVazio>Carrinho vazio!</h2>
          <div *ngFor='let itens of carrinho' class="border bg-light p-2 mb-2">
            <h3 class="form-font">{{itens.posto}}</h3>
            <p class="mb-0 roboto-font">Medicamento: {{itens.nome}}</p>
            <p class="mb-0 roboto-font">Endereço: {{itens.endereco}} - zona: {{itens.zona}}</p>
            <button class="btn btn-danger mt-2" (click)="removeCarrinho(itens)"> Remover</button>
          </div>
        </div>
      </div>
      <div class="modal-footer form-font">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button (click)='reservar()' type="button" class="btn btn-success" data-dismiss="modal">Confirmar
          Reserva</button>
      </div>
    </div>
  </div>
</div>