<div class="container-fluid height-100">
  <div class="row d-flex align-items-end mb-2 border border-dark pb-3">
    <div class="col-md-3">
      <div class="form-group mb-0">
        <label for="descricao"></label>
        <input [(ngModel)]="produto.nome" type="text" class="form-control campos" id="descricao"
          placeholder="Medicamento">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group mb-0">
        <label for="posto"></label>
        <input [(ngModel)]="produto.posto" type="text" class="form-control campos" id="posto" placeholder="Posto">
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group mb-0">
        <label for="municipioCidade"></label>
        <input [(ngModel)]="produto.municipioCidade" type="text" class="form-control campos" id="municipioCidade"
          placeholder="Municipio/Cidade">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group mb-0">
        <label for="zona"></label>
        <select [(ngModel)]="produto.zona" name="zona" id="zona" class="form-control campos">
          <option value="">Selecione uma zona..</option>
          <option value="CENTRO">CENTRO</option>
          <option value="CENTRO-SUL">CENTRO-SUL</option>
          <option value="LESTE">LESTE</option>
          <option value="NORDESTE">NORDESTE</option>
          <option value="NOROESTE">NOROESTE</option>
          <option value="NORTE">NORTE</option>
          <option value="OESTE">OESTE</option>
          <option value="SUDESTE">SUDESTE</option>
          <option value="SUL">SUL</option>
        </select>
      </div>
    </div>

    <div class="col-md-2">
      <div>
        <button type="submit" class="btn btn-success campos" (click)="pesquisa()">PESQUISAR</button>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <div  style="overflow: auto; height: 200px">
        <div class="row border carrinho m-1 p-0" *ngFor='let itens of carrinho'>
          <div class="col-md-10 ">
            <h3 class=" d-block">{{itens.nome}}</h3>
            <p class="">Posto: {{itens.posto}}</p>
            <p class="">Endereço: {{itens.endereco}}</p>
          </div>

          <div class="col-md-2 p-0 text-right d-flex justify-content-end align-items-center">
            <i id="excluir" (click)="removeCarrinho(itens)" class="fa fa-times-circle mr-4" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <!-- Botão para acionar modal -->
      <button *ngIf="habilitar()" type="button" class="btn btn-primary" data-toggle="modal"
        data-target="#ExemploModalCentralizado">
        Abrir modal de demonstração
      </button>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
      <div style="overflow: auto; height: 500px">
        <div *ngFor='let itens of listaProdutos' class="border carrinho bg-light p-2 mb-2">
          <h3 (click)="mapa(itens.endereco)">{{itens.posto}}</h3>
          <p class="mb-0">Medicamento: {{itens.nome}}</p>
          <p class="mb-0">Endereço: {{itens.endereco}}</p>
          <button (click)='listaReserva(itens)' class="btn btn-success">fazer Reserva</button>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div id="map"></div>
    </div>

  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog"
  aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Lista de Reservas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div style="overflow: auto; height: 500px">
          <div *ngFor='let itens of carrinho' class="border bg-light p-2 mb-2">
            <h3 (click)="mapa(itens.endereco)">{{itens.posto}}</h3>
            <p class="mb-0">Medicamento: {{itens.nome}}</p>
            <p class="mb-0">Endereço: {{itens.endereco}}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button (click)='reservar()' type="button" class="btn btn-primary" data-dismiss="modal">Fazer Reserva</button>
      </div>
    </div>
  </div>
</div>
