<div id="principal">
    <!-- header -->
    <div id="header">
        <div class="container font-rob">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" routerLink="/inicio">
                    <img src="https://imgur.com/mKM8ufz.jpg" width="200" class="img-fluid" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="#header">inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#perfis">Sobre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#depoimentos">Depoimentos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/entrar">Entrar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-button" routerLink="/cadastrar-usuario"><span
                                    class="p-2">Cadastre-se</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- /header -->

    <!-- desafio -->
    <div id="desafio" class="block">
        <div class="container pt-5">
            <div class="row">
                <div class="col-md-6 align-self-center mb-md-0 mb-4">
                    <h2 class="title">Bem Estar e Saúde</h2>
                    <h5 class="subtitle text-justify">Assegurar uma vida saudável e promover o bem-estar para todos, em
                        todas as idades</h5>
                    <p class="mb-4 text-justify" style="font-weight: 600;">Nosso desafio aborda a ODS 3.8 da ONU,
                        objetivo que trata sobre atingir a cobertura universal de saúde, incluindo a proteção do risco
                        financeiro, o acesso a
                        serviços de saúde essenciais de qualidade e o acesso a medicamentos e vacinas essenciais
                        seguros, eficazes, de qualidade e a preços acessíveis para todos.</p>
                    <a href="https://odsbrasil.gov.br/objetivo/objetivo?n=3" target="_blank"
                        class="button button-primary btn btn-success d-md-inline-block d-block mb-md-0 mb-2 mr-md-2">Saiba
                        mais</a>
                </div>
                <div class="col-md-6 m-0 p-0 align-self-center text-center">
                    <img src="https://imgur.com/zY8GPms.jpg" width="70%" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
    <!-- /desafio -->

    <!-- equipe -->
    <div id="equipe" class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center align-self-center order-md-1 order-2">
                    <img src="https://imgur.com/J8aVQus.jpg" class="img-fluid">
                </div>
                <div class="col-md-6 align-self-center mb-md-0 mb-4 order-md-2 order-1">
                    <h2 class="title">Estratégia e Resolução do Problema</h2>
                    <h4 class="subtitle">
                        Sobrecarga no sistema e atendimentos à saúde fragilizados
                    </h4>
                    <p class="text-justify" style="font-weight: 600;">
                        Nós do time FiveSoftware escolhemos desenvolver um e-commerce, no qual os usuários podem
                        consultar se o medicamento que precisam retirar no posto de saúde está disponível na unidade.
                        Também é
                        possível fazer um pedido e a retirada deste medicamento, evitando o transtorno das longas filas
                        e limitando a exposição a doenças neste período de pandemia. O RemediOn tem como meta facilitar
                        o acesso da população aos medicamentos oferecidos no SUS.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /equipe -->

    <!-- depoimentos -->
    <div id="depoimentos" class="block">
        <div class="container">
            <h2 class="title text-center">Depoimentos</h2>
            <h4 class="subtitle text-center mb-4">
                Feedback dos usuários do nosso site
            </h4>
            <div class="row text-justify d-flex justify-content-center">
                <div class="col-md-11 mb-2">
                    <div class="depoimento">
                        <img src="https://imgur.com/hTLEEOi.jpg" class="img-fluid fp img1">
                        <div class="depoimento-texto pl-3">
                            <img src="https://imgur.com/hTLEEOi.jpg" class="img-fluid fp mb-3 img2">
                            <p>
                                A RemediOn é uma plataforma completa, ela resolve um problema cotidiano de todo
                                brasileiro que depende do SUS, seu design inovador e futurista nos ajuda a mudar nossa
                                perspectiva quanto aos serviços públicos, trazendo mais conexão e empatia. Essa equipe
                                fez mais do que o pedido e implementou inovações incríveis a plataforma, por isso além
                                do layout perfeito, ela é funcional e escalável!
                            </p>
                            <p class="name">
                                <span>Thiago Lima</span> / Instrutor Front-end da Generation Brasil
                            </p>
                            <p class="mb-0">
                                <img src="https://imgur.com/qD0pzWp.jpg" class="quote float-right img-fluid" />
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row text-justify d-flex justify-content-center">
                <div class="col-md-11 ">
                    <div class="depoimento">
                        <img src="https://imgur.com/gzkqMDe.jpg" class="img-fluid fp img1">
                        <div class="depoimento-texto pl-3">
                            <img src="https://imgur.com/gzkqMDe.jpg" class="img-fluid fp  mb-3 img2">
                            <p>
                                Olá sou o Geandro Instrutor de jornada da Generation Brasil, pude acompanha o
                                desenvolvimento desse projeto e a evolução dessa equipe de desenvolvedores, como vocês
                                podem ver o site ficou fantástico pelo motivo de ser uma versão 1.0 desenvolvida em
                                apenas 2 meses e com muitas funcionalidades, quero deixar aqui meus parabéns e dizer que
                                estou muito orgulhoso de toda a equipe! O mercado da tecnologia esta bem servido com
                                esses excelentes profissionais.
                            </p>
                            <p class="name">
                                <span>Geandro Araújo</span> / Instrutor BSM's da Generation Brasil
                            </p>
                            <p class="mb-0">
                                <img src="https://imgur.com/qD0pzWp.jpg" class="quote float-right img-fluid" />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="perfis" class="block">
        <div class="container ">
            <h2 class="title text-center">Responsáveis</h2>
            <h4 class="subtitle text-center mb-4">Criadoras(es) do projeto RemediOn</h4>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                    <div class="destaque">
                        <div class="img-container">
                            <img src="https://imgur.com/FVfuf8K.jpg" class="img-fluid">
                        </div>
                        <h5 class="text-uppercase mb-4">Daniele Leal</h5>
                        <h6 class="subtitle">Desenvolvedora Full Stack Java Junior</h6>
                        <div>
                            <ul class="justify-content-center">
                                <li>
                                    <a href="https://www.linkedin.com/in/danielelealll/" target="_blank">
                                        <img src="https://imgur.com/7evrQbe.jpg">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/danielelealll/" target="_blank">
                                        <img src="https://imgur.com/1dFa5jc.jpg">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/danielelealll" target="_blank"><img
                                            src="https://imgur.com/6vda2kf.jpg"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                    <div class="destaque">
                        <div class="img-container">
                            <img src="https://imgur.com/Kum0F0G.jpg" class="img-fluid">
                        </div>
                        <h5 class="text-uppercase">David Magalhães</h5>
                        <h6 class="subtitle mb-lg-4 mb-md-2">Desenvolvedor Full Stack Java Junior</h6>
                        <div>
                            <ul class="justify-content-center">
                                <li>
                                    <a href="https://www.linkedin.com/in/david-santos-ab2b7916a/" target="_blank">
                                        <img src="https://imgur.com/7evrQbe.jpg">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/d4v1d.sm/" target="_blank">
                                        <img src="https://imgur.com/1dFa5jc.jpg">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/davidsm2k" target="_blank">
                                        <img src="https://imgur.com/6vda2kf.jpg">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                    <div class="destaque">
                        <div class="img-container">
                            <img src="https://imgur.com/BxdVU4w.jpg" class="img-fluid">
                        </div>
                        <h5 class="text-uppercase">Jullyane Demetrio</h5>
                        <h6 class="subtitle">Desenvolvedora Full Stack Java Junior</h6>
                        <div>
                            <ul class="justify-content-center">
                                <li>
                                    <a href="https://www.linkedin.com/in/jullyanedemetrio/" target="_blank">
                                        <img src="https://imgur.com/7evrQbe.jpg">
                                    </a>
                                </li>
                                <li>
                                    <a href="#"><img src="https://imgur.com/1dFa5jc.jpg"></a>
                                </li>
                                <li>
                                    <a href="https://github.com/jullyanedemetrio" target="_blank">
                                        <img src="https://imgur.com/6vda2kf.jpg">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                    <div class="destaque">
                        <div class="img-container">
                            <img src="https://imgur.com/TGlYF5t.jpg" class="img-fluid">
                        </div>
                        <h5 class="text-uppercase">Leandro Souza</h5>
                        <h6 class="subtitle mb-lg-4 mb-md-2">Desenvolvedor Full Stack Java Junior</h6>
                        <div>
                            <ul class="justify-content-center">
                                <li>
                                    <a href="https://www.linkedin.com/in/leandro-as/" target="_blank">
                                        <img src="https://imgur.com/7evrQbe.jpg">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/leandro.a.souza92/" target="_blank">
                                        <img src="https://imgur.com/1dFa5jc.jpg">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/leandroaraujosouz" target="_blank">
                                        <img src="https://imgur.com/6vda2kf.jpg">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                    <div class="destaque">
                        <div class="img-container">
                            <img src="https://imgur.com/cH8w7yI.jpg" class="img-fluid">
                        </div>
                        <h5 class="text-uppercase mb-4">Patricia Dias</h5>
                        <h6 class="subtitle">Desenvolvedora Full Stack Java Junior</h6>
                        <div>
                            <ul class="justify-content-center">
                                <li>
                                    <a href="https://www.linkedin.com/in/patricia-dias-do-nascimento-8a3375132/"
                                        target="_blank">
                                        <img src="https://imgur.com/7evrQbe.jpg">
                                    </a>
                                </li>
                                <li>
                                    <a href="#"><img src="https://imgur.com/1dFa5jc.jpg"></a>
                                </li>
                                <li>
                                    <a href="https://github.com/Paty-star" target="_blank"><img
                                            src="https://imgur.com/6vda2kf.jpg"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /perfis -->

    <!-- tecnologias -->
    <div id="tecnologias" class="block mt-5">
        <div class="container">
            <h2 class="title text-center">Tecnologias</h2>
            <h4 class="subtitle text-center mb-4">Para desenvolver este site foi utilizado</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4 col-6 mb-4">
                            <a href="#" class="link-tecnologias">
                                <img src="https://imgur.com/oj6zwH8.jpg" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-4 col-6 mb-4">
                            <a href="#" class="link-tecnologias">
                                <img src="https://imgur.com/GWZsSfj.jpg" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-4 col-6 mb-4">
                            <a href="#" class="link-tecnologias">
                                <img src="https://imgur.com/Rml5Xfj.jpg" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-4 col-6 mb-4">
                            <a href="#" class="link-tecnologias">
                                <img src="https://imgur.com/58DVb7e.jpg" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-4 col-6 mb-4">
                            <a href="#" class="link-tecnologias">
                                <img src="https://imgur.com/7sx80Ux.jpg" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-md-4 col-6 mb-4">
                            <a href="#" class="link-tecnologias">
                                <img src="https://imgur.com/pGpwqmq.jpg" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /tecnologias -->

    <!-- footer -->
    <footer id="contato">
        <div class="container">
            <div class="email">
                <img src="https://imgur.com/y7S0Kqp.jpg">
                <h2 class="title text-center">Fique por dentro das novidades</h2>
                <h4 class="subtitle2 text-center mb-4">
                    Cadastre seu e-mail para receber novidades e dicas sobre saúde
                </h4>
                <form>
                    <div class="flex-md-grow-1 pr-md-3 pb-md-0 pb-3">
                        <label for="email" class="sr-only">E-mail</label>
                        <input type="email" class="form-control w-100" id="email_input"
                            placeholder="Digite o seu email" />
                    </div>
                    <div class="flex-grow-1 flex-md-grow-0">
                        <button type="submit" class="btn btn-light button mb-3 d-md-inline d-block w-100">
                            cadastre-se
                        </button>
                    </div>
                </form>
            </div>

            <div class="logo py-4">
                <div class="row">
                    <div class="col-md-6 align-self-center text-center text-md-left">
                        <img src="https://imgur.com/mKM8ufz.jpg" width="200" class="img-fluid">
                    </div>
                    <div class="col-md-6 align-self-center text-right">
                        <ul>
                            <li>
                                <a href="#"><img src="https://imgur.com/Mxd2WTl.jpg" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="https://imgur.com/MokzmUE.jpg" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="https://imgur.com/1dFa5jc.jpg" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="https://imgur.com/7evrQbe.jpg" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="https://imgur.com/cq6qIZe.jpg" /></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>