<div class="container molde height-100">

    <div class="row">
      <div class="col-md-12">

        <a routerLink='/cadastrar-produto' class="text-body text-left ml-5">
          <i class="fa fa-arrow-left mr-1" aria-hidden="true"></i> voltar
        </a>

        <h1 class="fs-54 text-center form-font">Categoria</h1>
        <h5 class="fs-18 text-center roboto-font mt-4">Cadastre uma nova categoria</h5>

        <div class="row d-flex justify-content-center mt-3 mb-5">
          <div class="col-md-4">
            <div class="form-group">
              <input type="text" class="form-control campos roboto-font" id="tipo" [(ngModel)]="categoria.tipo"
                placeholder="Digite o tipo da categoria">
            </div>
            <div class="d-flex justify-content-center form-font mt-4">
              <button class="btn btn-success" (click)="cadastrar()">Cadastrar</button>
            </div>
          </div>
        </div>

      </div>
    </div>




    <div class="row mt-5">
      <div class="col-md-12">
        <h2 class="text-center form-font">Todas as categorias</h2>
      </div>
    </div>

    <div class="row mt-3 mb-5 d-flex justify-content-center">
      <div class="col-md-6 table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <!--<th scope="col">#</th>-->
              <th class= 'roboto-font' scope="col">Tipo</th>
              <th scope="col" class="text-right"></th>

            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let categoria of listaCategoria">
              <!--<th>{{categoria.id}}</th>-->
              <td class="roboto-font">{{categoria.tipo}}</td>
              <td class="d-flex justify-content-end form-font">
                <button class="btn btn-info mr-3" [routerLink]="['/categoria-edit', categoria.id]">Editar</button>
                <button class="btn btn-danger" [routerLink]="['/categoria-delete', categoria.id]">Apagar</button>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
